/* Nueva forma de colocar las fuentes de Google Fonts */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Navbar zone */
.navbar-brand {
    font-size: 23px;
    font-weight: 400;
}

.navbar {
    font-size: 23px;
    font-weight: 400;
}

/* Background del main  */
.fondo1 {
    background-color: #000000;
}

/* Títulos y estilos reutilizables*/
.qs1 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Estilos de las card que desaparecen */
.colort1 {
    color: #ffffff;
    text-align: center;
    background-color: #000000;
}


.colort2 {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    background-color: #000000;
}

/* Líneas separadoras de contenido */
.lineas1 {
    background-color: #808080;
    height: 3px;
    width: 84%;

}

/* H5 */
.fuente1 {
    font-size: 23px;
    font-weight: 400;
    color: #ffffff;
}

/* Párrafos */
.fuente2 {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

/* Estilos del form */
.color3 {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.color4 {
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.texto-bg {
    padding-bottom: 20rem;
}